{% extends "shoop/front/layout_2_col.jinja" %}

{% block page_header_title %}
<h2>
{% trans %}Buying Guide{% endtrans %}
</h2>
{% endblock %}
{% block content_inner %}
<div class="container" id="howtobuy">
    <h2 class="title-underblock custom mb30" >{% trans %}How to buy{% endtrans %}</h2>
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-border-tb">
                <div class="panel-heading" role="tab" id="headingOne5">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseOne5" aria-expanded="true" aria-controls="collapseOne5">
                            How can I purchase the product?
                            <span class="panel-icon"></span>
                        </a>
                    </h4>
                </div><!-- End .panel-heading -->
                <div id="collapseOne5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne5">
                    <div class="panel-body">
                    <p>This multipurpse boss template has more than <span class="highlight first-color">200 + html pages</span>. But this is not an end. You can create thousond of pages with the help of elements pages. 30 + Blog page templates, 30+ Portfolio page templates, 35+ Homepage and lots of other pages. These pages are ready to use. And we will update this template  with more features. And you will have lifetime support.</p>
                    <p>This is one of the most featured template of all time. Just for the small price you can buy and use it. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sed dolores, laudantium qui odit, inventore. Necessitatibus ut aliquam ab repudiandae nemo a sit, explicabo consequatur accusamus incidunt ea nihil ipsa?</p>
                    </div><!-- End .panel-body -->
                </div><!-- End .panel-collapse -->
            </div><!-- End .panel -->
            <div class="panel panel-border-tb">
                <div class="panel-heading" role="tab" id="headingTwo5">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo5">
                        Who is the developer of this Template?
                        <span class="panel-icon"></span>
                        </a>
                    </h4>
                </div><!-- End .panel-heading -->
                <div id="collapseTwo5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo5">
                    <div class="panel-body">
                        <p>Eon!Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    </div><!-- End .panel-body -->
                </div><!-- End .panel-collapse -->
            </div><!-- End .panel -->
            <div class="panel panel-border-tb">
                <div class="panel-heading" role="tab" id="headingThree5">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                            I want to use it more than 1 client? But how?
                            <span class="panel-icon"></span>
                        </a>
                    </h4>
                </div><!-- End .panel-heading -->
            <div id="collapseThree5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree5">
                <div class="panel-body">
                    <p>You can buy <span class="highlight third-color">Multiple applications license</span> and use this template for all your clients. There is no limit for that. For the single application license you can use this template just for 1 client. But with the Multiple you can use it more than 1 time for your clients.</p>
                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div><!-- End .panel-body -->
                </div><!-- End .panel-collapse -->
            </div><!-- End .panel -->
        </div><!-- End .panel-group -->
</div>

<div class="mb40"></div>
<div class="container" id="generalInfo">

    <h2 class="title-underblock custom mb30" >{% trans %}General Infomation{% endtrans %}</h2>
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-border-tb">
                <div class="panel-heading" role="tab" id="info1">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseinfo1" aria-expanded="true" aria-controls="collapseinfo1">
                            How can I purchase the product?
                            <span class="panel-icon"></span>
                        </a>
                    </h4>
                </div><!-- End .panel-heading -->
                <div id="collapseinfo1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="info1">
                    <div class="panel-body">
                    <p>This multipurpse boss template has more than <span class="highlight first-color">200 + html pages</span>. But this is not an end. You can create thousond of pages with the help of elements pages. 30 + Blog page templates, 30+ Portfolio page templates, 35+ Homepage and lots of other pages. These pages are ready to use. And we will update this template  with more features. And you will have lifetime support.</p>
                    <p>This is one of the most featured template of all time. Just for the small price you can buy and use it. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sed dolores, laudantium qui odit, inventore. Necessitatibus ut aliquam ab repudiandae nemo a sit, explicabo consequatur accusamus incidunt ea nihil ipsa?</p>
                    </div><!-- End .panel-body -->
                </div><!-- End .panel-collapse -->
            </div><!-- End .panel -->
            <div class="panel panel-border-tb">
                <div class="panel-heading" role="tab" id="info2">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" href="#collapseinfo2" aria-expanded="false" aria-controls="collapseinfo2">
                        Who is the developer of this Template?
                        <span class="panel-icon"></span>
                        </a>
                    </h4>
                </div><!-- End .panel-heading -->
                <div id="collapseinfo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="info2">
                    <div class="panel-body">
                        <p>Eon!Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    </div><!-- End .panel-body -->
                </div><!-- End .panel-collapse -->
            </div><!-- End .panel -->
            <div class="panel panel-border-tb">
                <div class="panel-heading" role="tab" id="info3">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseinfo3" aria-expanded="false" aria-controls="collapseinfo3">
                            I want to use it more than 1 client? But how?
                            <span class="panel-icon"></span>
                        </a>
                    </h4>
                </div><!-- End .panel-heading -->
            <div id="collapseinfo3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="info3">
                <div class="panel-body">
                    <p>You can buy <span class="highlight third-color">Multiple applications license</span> and use this template for all your clients. There is no limit for that. For the single application license you can use this template just for 1 client. But with the Multiple you can use it more than 1 time for your clients.</p>
                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div><!-- End .panel-body -->
                </div><!-- End .panel-collapse -->
            </div><!-- End .panel -->
        </div><!-- End .panel-group -->
</div>
{% endblock %}