{%- import "shoop/front/macros.jinja" as macros with context -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrameta %}{% endblock %}
    {# Page Title #}
    <title>{{ request.shop.public_name }} &ndash; {% block title %}{% endblock %}</title>
    {# Include Favicon #}
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}classic_gray/img/favicon.ico">
    {# Include Fonts #}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    {# Include Styles #}
     <link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.selectbox.css">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/revslider/revslider-index5.css">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/skins/lightfonts.css">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/colors/purple.css" id="color-scheme">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/style2.css">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">

     <!-- Modernizr -->
     <script src="{{ STATIC_URL }}js/modernizr.js"></script>

     <!--- jQuery -->
     <script src="{{ STATIC_URL }}js/jquery-2.1.4.min.js"></script>

     <!-- Queryloader -->
     <script src="{{ STATIC_URL }}js/queryloader2.min.js"></script>
</head>
<body>
{#    <div class="boss-loader-overlay"></div><!-- End .boss-loader-overlay -->#}

    {% if request.shop.maintenance_mode %}
        <div class="alert alert-warning alert-top text-center alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% trans %}Shop is currently in maintenance mode.{% endtrans %}
        </div>
    {% endif %}

    <div id="wrapper">
        {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ message.tags }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
        {% endif %}
        {% if form and form.errors %}
                <div class="alert alert-dismissible alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="fa fa-exclamation-circle"></i> {% trans %}There were errors on submitted form fields. Please check them and try again.{% endtrans %}
                </div>
        {% endif %}
        {% block layout %}
            {% block navigation %}
                {% include "shoop/front/includes/_navigation.jinja" %}
            {% endblock %}
            {# Main content of page - other layout templates may override this block #}
            {% block content_wrapper %}
                <div class="container-fluid page">
                    <div class="page_inner">
                        {% block breadcrumbs %}{% endblock %}
                        {% block header %}
                            <div class="page-header action">
                                <h1>{% block headertext %}{% endblock %}</h1>
                            </div>
                        {% endblock %}

                        {% block subnavigation %}{% endblock %}
                        <div class="content">
                            {% block subheader %}{% endblock subheader %}


                            {# Div exists for AJAX updates to entire content section #}
                            <div id="content_inner">{% block content %}{% endblock %}</div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% include "shoop/front/includes/_footer.jinja" %}
            <a href="#top" id="scroll-top" title="Back to Top"><i class="fa fa-angle-up"></i></a>
        {% endblock %}
    </div>
{#    <main class="main-container" role="main">#}
{#        <div class="container">#}
{#            {% block breadcrumb %}{% endblock %}#}
{#            #}
{#            #}
{#            {% block before_content_title %}{% endblock %}#}
{#            {% if self.content_title() %}#}
{#                <h1 class="page-header">{% block content_title %}{% endblock %}</h1>#}
{#            {% endif %}#}
{#            <div class="page-content">#}
{#                {% block content %}{% endblock %}#}
{#            </div>#}
{#        </div>#}
{#    </main>#}


    {# Include JavaScript libraries #}
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}classic_gray/js/classic-gray.js"></script>
    {# Include all Extra JavaScript #}
    {% block extrajs %}
        <script src="{{ STATIC_URL }}js/smoothscroll.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.hoverIntent.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.nicescroll.min.js"></script>
        <script src="{{ STATIC_URL }}js/waypoints.min.js"></script>
        <script src="{{ STATIC_URL }}js/waypoints-sticky.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.debouncedresize.js"></script>
        <script src="{{ STATIC_URL }}js/retina.min.js"></script>
        <script src="{{ STATIC_URL }}js/owl.carousel.min.js"></script>
        <script src="{{ STATIC_URL }}js/jflickrfeed.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.countTo.js"></script>
        <script src="{{ STATIC_URL }}js/isotope.pkgd.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.themepunch.tools.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.themepunch.revolution.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.selectbox.min.js"></script>
        <script src="{{ STATIC_URL }}js/wow.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.nouislider.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.elevateZoom.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.bootstrap-touchspin.min.js"></script>
        <script src="{{ STATIC_URL }}js/main2.js"></script>
        <script src="{{ STATIC_URL }}js/contact.js"></script>
        <script src="{{ STATIC_URL }}js/custom.js"></script>
    {% endblock %}
    {# Block for body onload functions #}
        <script type="text/javascript">
            $(function() {
                {% block onbodyload %}{% endblock %}
            });
        </script>
    {# Enable adding products to basket with ajax #}
    {% include "classic_gray/add_product_to_basket.jinja" %}
</body>
</html>
