{% macro product_box(product, show_image=True, show_description=True, class="", thumbnail_size=(250,250)) %}
    {% set u = url("shoop:product", pk=product.pk, slug=product.slug) %}
    {% if product.is_variation_parent()  %}
        {% set price_info = product.get_cheapest_child_price_info(request) %}
    {% else %}
        {% set price_info = product.get_price_info(request) %}
    {% endif %}
    <div class="product text-center">


         <div class="product-top">
{#               <span class="product-box new-box new-box-border">New</span>#}
             {% if show_image %}
                    {% for image in images %}
                        <p>{{ image.url }}</p>
                    {% endfor %}

                 <figure>
                     <a href="{{ u }}" title="{{ product.name }}">
                         {% set primary_image_thumb = product.primary_image|thumbnail(size=thumbnail_size) %}
                         <img src="{% if product.primary_image %}{{ primary_image_thumb }}{% else %}{{ STATIC_URL }}classic_gray/img/no_image.png{% endif %}" alt="{{ product.name }}" class="product-image product-image-list" style="">
{#                         {% set secondary_image = product.myproduct.secondary_image() %}#}
                         <img src="{{ primary_image_thumb }}" alt="{{ product.name}}" class="product-image-hover product-image-hover-list">
                     </a>
                 </figure>
             {% endif %}
             <div class="product-action-container each-btn-animate">
                 <a href="{{ u }}" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
             </div><!-- end .product-action-container -->
         </div><!-- End .product-top -->

         <h3 class="product-title"><a href="{{ u }}" title="{{ product.name }}" class="product-link">{{ product.name }}</a></h3>

         <p class="star-rating">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
         </p>
        {{ render_product_price(product, price_info, show_units=False) }}
      <!-- Go to Detail Page -->
     <a href="{{ u }}" class="btn btn-block btn-custom no-radius add-to-cart">{% trans %}Details{% endtrans %}</a>
    </div><!-- End .product -->
{% endmacro %}

{% macro product_box_for_front(product, show_image=True, show_description=True, class="portfolio-item", thumbnail_size=(500,500)) %}
    {% set u = url("shoop:product", pk=product.pk, slug=product.slug) %}
    {% if product.is_variation_parent()  %}
        {% set price_info = product.get_cheapest_child_price_info(request) %}
    {% else %}
        {% set price_info = product.get_price_info(request) %}
    {% endif %}
    <div class="{{ class }} portfolio-meta-slideup push" id="product-{{ product.id }}">
        <figure>
            <a href="{{ u }}" class="zoom-item" title="{{ product.name }}">
                {% if show_image %}
                    {% set primary_image_thumb = product.primary_image|thumbnail(size=thumbnail_size) %}
                    <img src="{% if product.primary_image %}{{ primary_image_thumb }}{% else %}{{ STATIC_URL }}classic_gray/img/no_image.png{% endif %}" alt="{{ product.name }}" class="img-responsive" style="">
                {% endif %}
            </a>
        </figure>
        <div class="portfolio-meta light">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="portfolio-title"><a href="{{ u }}">{{ product.name }}</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <p class="star-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </p>
            </div>
            <div class="col-sm-5 pull-left">
                {{ render_product_price(product, price_info, show_units=False) }}
            </div>
        <div class="actions clearfix">
            <button type="button" class="btn btn-block text-muted" onclick="javascript:showPreview('{{ product.id }}')"><i class="fa fa-eye"></i> {% trans %}Preview{% endtrans %}</button>
        </div>
    </div><!-- End .portfolio-meta -->
</div><!-- End .portfolio-item -->
    </div>
{% endmacro %}

{% macro render_cross_sell_products(product, relation_type="", title="") %}
    {%- set cross_sell_products = shoop.product.get_product_cross_sells(product, relation_type) %}
    {% if cross_sell_products %}
        <hr>
        {% if title %}<h3>{{ title }}</h3>{% endif %}
        <div class="row">
            {% for product in cross_sell_products %}
                <div class="col-md-3">
                    {{ product_box(product) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_field(field, classes="") %}
    {% if field.field.widget.is_hidden %}
        {{ field.as_widget()|safe }}
    {% else %}
        {% set widget_name = field.field.widget.__class__.__name__|lower %}
        {% if widget_name == "checkboxinput" %}
            <div class="custom-checkbox {{ widget_name }}{% if field.field.required %} required{% endif %}{% if field.errors %} has-error{% endif %} {{ classes }}">
                {{ field.as_widget()|safe }}
                <label for="{{ field.auto_id }}">
                    {{ field.label }}
                </label>
                {% if field.errors %}
                    <p class="help-block">
                        {% for error in field.errors %}
                            {{ error}}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        {% elif widget_name == "radio" %}
            <div class="custom-radio {{ widget_name }}{% if field.field.required %} required{% endif %}{% if field.errors %} has-error{% endif %} {{ classes }}">
                {{ field.as_widget()|safe }}
                <label for="{{ field.auto_id }}">
                    {{ field.label }}
                </label>
            </div>
        {% elif widget_name == "select" %}
            <div class="form-group {{ widget_name }}{% if field.field.required %} required{% endif %}{% if field.errors %} has-error{% endif %} {{ classes }}">
                <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
                {{ field.as_widget(attrs={"class": "form-control selectpicker"})|safe }}
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
                {% if field.errors %}
                    <p class="help-block">
                        {% for error in field.errors %}
                            {{ error}}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        {% else %}
            <div class="form-group {{ widget_name }}{% if field.field.required %} required{% endif %}{% if field.errors %} has-error{% endif %} {{ classes }}">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field.as_widget(attrs={"class": "form-control"})|safe }}
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
                {% if field.errors %}
                    <p class="help-block">
                        {% for error in field.errors %}
                            {{ error}}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro alert(message, title=None, mode="") %}
    <div class="alert{% if mode %} alert-{{ mode }}{% endif %}">
        {% if title %}
            <strong>{{ title }}</strong>
        {% endif %}
        {% if not caller %}
            {{ message|safe }}
        {% else %}
            {{ caller() }}
        {% endif %}
    </div>
{% endmacro %}

{% macro render_ordered_files(order) %}
    {% set attachments = order.get_purchased_attachments() %}
    {% if attachments %}
        <h2>{% trans %}Files{% endtrans %}</h2>
        <table class="table">
            {% for attachment in attachments %}
                <tr>
                    <td><a href="{{ attachment.url }}" target="_blank">{{ attachment.title }}</a></td>
                    <td>
                        {% if attachment.description %}
                            {{ attachment.description|linebreaksbr }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endmacro %}

{% macro print_order_detail(order, show_attachments=False) %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans %}Products ordered{% endtrans %}</h2>
        </div>
        <div class="panel-body">
            {% set lines = order.lines.order_by("ordering") %}
            {% include "shoop/front/order/partials/product_table.jinja" %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans %}Tax breakdown{% endtrans %}</h2>
        </div>
        <div class="panel-body">
            {% include "shoop/front/order/partials/taxes.jinja" %}
        </div>
    </div>

    {% if show_attachments %}
        {{ render_ordered_files(order) }}
    {% endif %}

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{% trans %}Delivery{% endtrans %}</h2>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{% trans %}Delivery method{% endtrans %}:</dt>
                        <dd>{{ order.shipping_method_name }}</dd>
                        <dt>{% trans %}Shipping address{% endtrans %}:</dt>
                        <dd>
                            <address>
                                {% for line in order.shipping_address.as_string_list() %}
                                    {% if loop.first %}
                                        <strong>{{ line }}</strong>
                                    {% else %}
                                        {{ line }}
                                    {% endif %}
                                    {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            </address>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{% trans %}Payment{% endtrans %}</h2>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{% trans %}Payment method{% endtrans %}:</dt>
                        <dd>{{ order.payment_method_name }}</dd>
                        <dt>{% trans %}Billing address{% endtrans %}:</dt>
                        <dd>
                            <address>
                                {% for line in order.billing_address.as_string_list() %}
                                    {% if loop.first %}
                                        <strong>{{ line }}</strong>
                                    {% else %}
                                        {{ line }}
                                    {% endif %}
                                    {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            </address>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    {% if order.company %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans %}Company{% endtrans %}</h2>
            </div>
            <div class="panel-body">
                <p>{{ order.company.name }} ({% trans %}Tax number{% endtrans %}: {{ order.company.tax_number }})</p>
            </div>
        </div>
    {% endif %}

{% endmacro %}

{% macro pagination(page, paginator) %}
    <script>
        window.PAGE_NUMBER = "{{ page.number }}";
    </script>
    <nav>
        <ul class="pagination text-center">
            {% if page.has_previous() %}
                <li id="previous_page">
                    <a href="#" onclick="moveToPage({{ page.previous_page_number()}}); return false;" aria-label="{% trans %}Previous{% endtrans %}">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            {% else %}
                <li id="previous_page" class="disabled">
                    <span aria-label="{% trans %}Previous{% endtrans %}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </span>
                </li>
            {% endif %}
            {% for i in paginator.page_range %}
                <li id="pagination_page_{{ i }}" class="{% if i == page.number %}active{% endif %}">
                    <a href="#" onclick="moveToPage({{ i }}); return false;">{{ i }}</a>
                </li>
            {% endfor %}
            {% if page.has_next() %}
                <li id="next_page">
                    <a href="#" onclick="moveToPage({{ page.next_page_number() }}); return false;" aria-label="{% trans %}Next{% endtrans %}">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            {% else %}
                <li id="next_page" class="disabled">
                    <span aria-label="{% trans %}Next{% endtrans %}">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endmacro %}


{% macro render_product_price(product, price_info, show_units=True) %}
<div class="price-line">
    <span class="lead">
    {% if product.is_variation_parent() %}
        {% set min_price, max_price = product.get_child_price_range(request) %}
        {% if min_price == max_price %}
            <p class="price_color">{{ min_price|money if min_price else "" }}</p>
        {% else %}
            <span class="label label-default">{% trans %}Start from{% endtrans %}</span><p class="price_color">{{ min_price|money }}</p>
        {% endif %}
    {% else %}
        {% if price_info.is_discounted %}
            <span class="product-old-price">{{ price_info.base_price|money }}</span>
        {% endif %}
        <span class="label label-default">{% trans %}Start from{% endtrans %}</span><p class="price_color">{{ price_info.price|money }}</p>
    {% endif %}
    {% if show_units %}
    <small> / {{ product.sales_unit.short_name }}</small>
    {% endif %}
    </span>
</div>
{% endmacro %}
