{% extends "shoop/front/layout_2_col.jinja" %}
{% import "star_ratings/widget.jinja" as ratings with context %}
{% import "classic_gray/shoop/front/macros.jinja" as macro with context %}

{% if product.is_variation_parent()  %}
    {% set priceinfo = product.get_cheapest_child_price_info(request) %}
{% else %}
    {% set priceinfo = product.get_price_info(request) %}
{% endif %}

{% block extrameta %}
    <meta property="og:site_name" content="{{ request.shop }}">
    <meta property="og:type" content="product">
    <meta property="og:url" content="{{ shoop.urls.model_url(product, absolute=True) }}">
    <meta property="og:title" content="{{ product.name }}">
    {% if primary_image %}
        <meta property="og:image" content="{{ request.build_absolute_uri(primary_image.url) }}">
    {% endif %}
{% endblock %}

{% block title %}{{ product.name }}{% endblock %}
{% block content_title %}{% endblock %}

{% block page_header_title %}
<h1 class="page-header-title">{{ category.name }}</h1>
<p class="page-header-desc">{{ category.description }}</p>
{% endblock %}

{% block page_header_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
        {% set category = shop_product.primary_category %}
        {% if category %}
            {% for c in category.get_ancestors(include_self=True) if c.is_visible(customer=request.customer) %}
                <li><a href="{{ shoop.urls.model_url(c) }}">{{ c.name }}</a></li>
            {% endfor %}
        {% else %}
            <li><a href="{{ url('shoop:xtheme_extra_view', view='products') }}">{% trans %}Products{% endtrans %}</a></li>
        {% endif %}
        <li class="active">{{ product.name }}</li>
    </ol>
{% endblock %}

{% block content_inner %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">

                {% include "shoop/front/product/_product_images.jinja" %}
            </div><!-- End .col-md-5 -->

        <div class="col-md-7">

            <div class="product-details">
                <h2 class="product-title">{{ product.name }}</h2>
                <div class="product-cats">
                    <a href="" class=""></a>
                </div><!-- End .product-cats -->
                <div class="">
                    {{ product.description }}
                </div>
                <div class="product-price-container">
                    {{ macros.render_product_price(product, priceinfo) }}

                    <div class="discount-price">
                        {% if priceinfo.is_discounted %}
                            <div class="discount">
                              <span class="label label-danger">
                                {% set discount_percent = priceinfo.discount_rate|percent %}
                                {{- _("Save %(discount_percent)s", discount_percent=discount_percent) -}}
                              </span>
                            </div>
                        {% endif %}
                    </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ ratings.star_ratings_short(product) }}
                        {% if user.is_authenticated() %}
                            {% if user_has_reviewed(product, request.user) %}
                                {% trans %}You reviewd this product{% endtrans %}
                                <div class="mb10"></div>
                                <p class="product-ratings-count"><a href="#reviews">{{ get_review_count(product) }} Review(s)</a></p>
                            {% else %}
                                <a href="{{ url("review_create", content_type='product', object_id=product.id) }}" class="btn btn-custom btn-sm no-radius">{% trans %}Write a Review{% endtrans %}</a>
    {#                            <a href="#" onclick="javascript:showReviewForm('product', {{ product.id }})" class="btn btn-custom btn-sm no-radius">{% trans %}Write Review{% endtrans %}</a>#}
    {#                            <a href="{{ url("review_create", content_type='product', object_id= product.id) }}">{% trans %}Review this book{% endtrans %}</a>#}
                            {% endif %}

                        {% else %}
                            <p class="product-ratings-count"><a href="#reviews">{{ get_review_count(product) }} Review(s)</a></p>
                            <p>Log in to write a Review</p>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>

                </div><!-- End .product-price-container -->

                <div class="color-chart-container">
                    <label class="input-desc">{% trans %}Color Chart{% endtrans %}</label>

                </div><!-- End .filter-color-container -->

                <div class="product-action">
                    {% include "shoop/front/product/_detail_order_section.jinja" with context %}
                </div><!-- End .product-action -->
                <div class="share-container">
                    <label class="input-desc">Share now:</label>
                    <div class="social-icons social-icons-bg social-icons-bg-hover social-icons-circle">
                        <a href="#" class="social-icon icon-facebook" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="social-icon icon-twitter" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon icon-google-plus" title="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="social-icon icon-dribbble" title="Dribbble">
                            <i class="fa fa-dribbble"></i>
                        </a>
                        <a href="#" class="social-icon icon-skype" title="Skype">
                            <i class="fa fa-skype"></i>
                        </a>
                    </div><!-- End .social-icons -->
                </div><!-- End .share-container -->

            </div><!-- End .product-details -->
        </div><!-- End .col-md-7 -->
    </div><!-- End .row -->
    <hr>

    <header class="title-block text-center">
        <h3 class="title-underblock custom">{% trans %}Product Information{% endtrans %}</h3>
    </header>
    <div class="divider line double"><span><i class="fa fa-info-circle"></i></span></div>

{#    {% set media_files = product.get_public_media() %}#}
    <div class="product-tabs" role="tabpanel" id="tabpanel1">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">{% trans %}Description{% endtrans %}</a></li>
            <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">{% trans %}Details{% endtrans %}</a></li>
            {% if shoop.product.get_visible_attributes(product) %}
                <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">{% trans %}Attributes{% endtrans %}</a></li>
            {% endif %}
            {% if media_files %}
                <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">{% trans %}Files{% endtrans %}</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="product-description tab-pane fade in active" id="tab1">
                {% if product.description %}
                    {{ product.description|markdown|safe }}
                {% else %}
                    {% trans %}No product description available{% endtrans %}
                {% endif %}
            </div>
            <div role="tabpanel" class="product-attributes tab-pane fade" id="tab2">
                {% include "shoop/front/product/_detail_details_section.jinja" %}
            </div>
            {% if shoop.product.get_visible_attributes(product) %}
                <div role="tabpanel" class="product-attributes tab-pane fade" id="tab3">
                    {% include "shoop/front/product/_detail_attributes_section.jinja" %}
                </div>
            {% endif %}
            {% if media_files %}
                <div role="tabpanel" class="product-files tab-pane fade" id="tab4">
                    <table class="table">
                        {% for file in media_files %}
                            {{ file }}
                            <tr>
                                <td><a href="{{ file.url }}" target="_blank">{{ file.title }}</a></td>
                                <td>
                                    {% if file.description %}
                                        {{ file.description|linebreaksbr }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="reviews">
        <header class="title-block text-center">
            <h3 class="title-underblock custom">{% trans %}Product Reviews{% endtrans %}</h3>
        </header>
        <div class="divider line double"><span><i class="fa fa-comments"></i></span></div>
        {% set reviews = get_reviews(product) %}
        {% if user.is_authenticated() %}
            {% if not user_has_reviewed(product, request.user) %}
                  <a href="{{ url("review_create", content_type='product', object_id=product.id) }}" class="btn btn-custom btn-sm no-radius">{% trans %}Write a Review{% endtrans %}</a>
            {% else %}
                {% set reviewed = get_review_by_user(product, user) %}
                {% if reviewed %}
                    <div class="form-wrapper">
                        <h4>Your Review</h4>
                        {{ ratings.star_ratings_user_rating(product) }}
                        <p class="review-content">{{ reviewed.content }}</p>
                        <p>{% trans %}This is your own review.{% endtrans %} <a href="{{ url ("review_update", pk=reviewed.pk) }}">{% trans %}Change it.{% endtrans %}</a></p>
                    </div>
                {% endif %}
            {% endif %}

        {% endif %}
        <div class="row masonry-grid-fitrows">
            {% for review in reviews %}
                <div class="col-sm-12 col-md6 col-lg-4 masonry-grid-item">
                    <div class="form-wrapper">
                        <p>By <span class="label label-primary">{{ review.user }}</span> on {{ review.creation_date|datetime }}</p>
                        {{ ratings.star_ratings_user_rating(product) }}
                        <p class="review-content">{{ review.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% placeholder "product_extra_bottom" %}{% endplaceholder %}

    {% if package_children %}
        <hr>
        <h3>{% trans %}Includes these products{% endtrans %}</h3>
        <div class="row">
            {% for child in package_children %}
                <div class="col-md-3">
                    {{ macros.product_box(child) }}
                </div>
            {% endfor %}
        </div>

    {% elif package_parents %}
        <hr>
        <h3>{% trans %}Also available in{% endtrans %}</h3>
        <div class="row">
            {% for parent in package_parents %}
                <div class="col-md-3">
                    {{ macros.product_box(parent) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="mb60"></div>
    {{ macros.render_cross_sell_products(
        product, relation_type="related", title=_("Related products")
    ) }}

    {{ macros.render_cross_sell_products(
        product, relation_type="recommended", title=_("We recommend these products")
    ) }}

    {{ macros.render_cross_sell_products(
        product, relation_type="computed", title=_("Users who bought this product also bought")
    ) }}

{% endblock %}

{% block extrajs %}
<script>
    // Set up owl carousel for product page's slider thumbnails.
    $(".owl-carousel.carousel-thumbnails").owlCarousel({
        margin: 10,
        nav: $(".carousel-thumbnails .thumbnail").length > 4,
        navText: [
            "<i class='fa fa-chevron-left'></i>",
            "<i class='fa fa-chevron-right'></i>"
        ],
        responsiveClass: true,
        items: 4
    });

    // Enable lightbox for products with multiple images. Uses arrows to
    // navigate through images.
    var selector_multiple = "a[data-imagelightbox='image-multiple']";
    var instance_multiple = $(selector_multiple).imageLightbox({
        "onStart": function() {
            overlayOn();
            closeButtonOn(instance_multiple);
            arrowsOn(instance_multiple, selector_multiple);
        },
        "onEnd": function() {
            overlayOff();
            closeButtonOff();
            arrowsOff();
            captionOff();
        },
        "onLoadStart": function() {
            activityIndicatorOn();
            captionOff();
        },
        "onLoadEnd": function() {
            $(".imagelightbox-arrow").css("display", "block");
            activityIndicatorOff();
            captionOn();
        }
    });

    // Enable lightbox for products with only one image.
    var selector = "a[data-imagelightbox='image']";
    var instance = $(selector).imageLightbox({
        "onStart": function() {
            overlayOn();
            closeButtonOn(instance);
        },
        "onEnd": function() {
            overlayOff();
            closeButtonOff();
            captionOff();
        },
        "onLoadStart": function() {
            activityIndicatorOn();
            captionOff();
        },
        "onLoadEnd": function() {
            $(".imagelightbox-arrow").css("display", "block");
            activityIndicatorOff();
            captionOn();
        }
    });
</script>
{% endblock %}
