@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

.price_color {
  display: block;
  color: #AB5156;
    padding-top: 5px;
    font: 400 17px/1.6 "Lato",Verdana,sans-serif;
}

/* Small devices (tablets, phones less than 991px) */
@media (max-width: 991px) {
  .isotope-item,
  .masonry-grid-item {
    max-width: 100%;
  }
}

.cart-dropdown .product-name {
  font-size: 10px;
  font-weight:300;
}

.num_of_reviews, .star-rating {
  margin: 0 0 10px 0;
}

.availability.instock {
  color: #5cb85c;
  font-weight:400;
}
.availability.outofstock {
    color: #d9534f;
}

.product-details .product-price {
  margin-left: 0;
  margin-bottom: 0;
}

.product .add-to-cart {
    padding: 7px 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

#write_review {
  font-weight:400;
}
.btn {

}
.link-to-default-wishlist {
  font-weight:400;
}
.wishlist-message{
  padding: 10px;
}
.product-details .product-action {
  padding: 16px 0 40px 0;
}
.share-container {
  text-align: center;
}
.portfolio-meta p {
  margin-bottom:0;
}
.portfolio-meta {
  background-color: #ffffff;
  padding: 5px 18px;
}
.product-item-max-height
{
    max-height: 370px;
}

.transparent-block {
    background: rgba(255, 255, 255, 0.5);
}
.smaller-header {
    font: 700 14px/1.5 "Open Sans",Verdana,sans-serif;
    text-align: center;
    padding-top: 10px;
}

.form-group label {
  font-family: "Open Sans",Verdana;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.well {
  background-color: transparent;
  border: 1px solid rgba(153, 103, 148, 0.22);
}
input[type="text"][id*="quantity"], input[type="number"][id*="quantity"] {
    max-width: 100%;
}
.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.navbar-nav > li > .checkout-step, .navbar-nav li .checkout-step {
    display: block;
    font: 700 14px/20px "Open Sans",Verdana,sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}

.title-block {
    margin-top: 30px;
}

.check-subtitle {
    margin-top: 20px;
}
.navbar-nav > li #checkout-link, .navbar-nav li #checkout-link {
    color: #996794;
}
.control-label.required::after {
    color: #ff0000;
    content: "*";
    display: inline-block;
}

.filter-color-box img {
    width: 35px;
    height: 35px;
}

.filter-price-box {
    border: 1px solid #eaeaea;
    display: inline-block;
    height: 30px;
    margin: 0 5px 10px;
    transition: all 0.2s ease 0s;
    width: 40px;
    color: #505050;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.filter-price-box .active {
    background-color: #996794;
    border-color: #996794;
    color: #fff;
}

.page-header {
    margin-bottom:30px;
}

.color-chart-container img {
    width:60px;
    height:60px;
    padding: 5px;
}

.color-chart-row-left {
    float: left;
}

.color-chart-text {
    font-size: 9px;
    color: #222;
    line-height: 110%;
    padding-left: 12px;
    position: relative;
}
.cart-dropdown-menu {
    width: 350px;
}

.product-image-list, .product-image-hover-list {
    height: 250px;
}

#dropdown-content {
    font: 400 14px/1.6 "Lato",Verdana,sans-serif;
}

.login-form-group {
    margin-bottom: -10px;
}

.login-form-group label {
    font-size: 12px;
    font-weight:400;
    margin-bottom:0;
    text-transform: none;
}

.login-form-group .form-control {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.login form {
    padding: 5px 15px;
}

#login-button {
    color: #ffffff;
    font-weight: 500;
}

.navbar-top-nav li {
    float: left;
    margin-right: 0px;
}

.cover-wrap {
    background:rgba(116,173,64,.8);
    color:#fff;
    position:fixed;
    text-align:center;
    display:table;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    z-index:-40;
    -webkit-transition:all .3s;
    transition:all .3s
}
.cover-wrap.in{
    z-index:16;
    opacity:1;
    visibility:visible
}
.cover-wrap .text-wrap{
    display:table-cell;
    width:100%;
    height:100%;
    vertical-align:middle;
    position:relative;
    padding:30px
}
.cover-wrap .text-wrap .load{
    display:none;
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    margin-top:-2em
}
.cover-wrap .text-wrap .load i{
    font-size:2.5em
}
.cover-wrap .text-wrap .ready{
    opacity:0;
    -webkit-transform:scale(.5);
    -ms-transform:scale(.5);
    transform:scale(.5);
    -webkit-transition:all .2s;
    transition:all .2s
}
.cover-wrap .text-wrap .ready i{
    font-size:5em;
    margin-bottom:20px
}
.cover-wrap .text-wrap .error-msg{
    display:none
}
.cover-wrap .text-wrap .error-msg i{
    font-size:5em;
    margin-bottom:20px
}
.cover-wrap .text-wrap p{
    font-size:1.75em;
    text-transform:uppercase;
    font-weight:500
}
.cover-wrap.loading .load{
    display:block
}
.cover-wrap.loaded .ready,.cover-wrap.loading .ready{
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
}
.cover-wrap.loaded .ready{
    opacity:1
}
.cover-wrap.error{
    background:rgba(219,89,89,.8)
}
.cover-wrap.error .error-msg{
    display:block
}
.cover-wrap.error .ready{
    display:none
}

.text-muted {
    color: #a4b1c2;
}

.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}

.product-preview-modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1050;
    outline: 0px none;
}

.modal-open .product-preview-modal {
    overflow-x: hidden;
    overflow-y: auto;
}

/*.fade.in {*/
    /*opacity: 1;*/
/*}*/
.product-preview-modal .product-preview-modal-dialog {
    padding: 30px;
    max-width: 1000px;
    margin: 0px auto;
}

.product-preview-modal.fade .product-preview-modal-dialog {
    transform: translate(0px, 25%);
    transition: transform 0.3s ease-out 0s;
}

.product-preview-modal.in .product-preview-modal-dialog {
    transform: translate(0px, 0px);
}

.product-preview-modal.in .product-preview-modal-dialog {
    transform: translate(0px, 15%);
}
.product-preview-modal .content {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #D7DDE4;
    padding: 30px;
}

.product-preview-modal .close {
    padding: 10px 15px;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}

button.close {
    padding: 0px;
    cursor: pointer;
    background: transparent none repeat scroll 0% 0%;
    border: 0px none;
}

.panel {
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid #884444;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default > .panel-heading {
    color: #FFF;
    background-color: #ab5156;
    border-color: #884444;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}
.panel-body {
    padding: 15px;
}

.panel {
    box-shadow: none;
}
.panel-default {
    border-color: #FFFFFF;
}

.panel-default > .panel-heading:hover {
    background-color: #733636;
}
.basket-items .delete .btn {
    border: 0px none;
    background: transparent none repeat scroll 0% 0%;
}

.basket-items .single-item {
    position: relative;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #D7DDE4;
    padding: 15px;
    margin-bottom: 15px;
}

.single-item:hover {

    background: #F0F0F0;
}

.product-top {
    border: 0px solid #eaeaea;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.single-item > .product {
    margin-bottom:0px;
}

.continue-shopping {
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.btn-checkout {
    text-transform: uppercase;
    font-weight:700;
    padding: 10px 15px;
}

.btn-checkout .fa-lock {
    margin-right: 6px;
}
.btn-checkout .fa {
    font-size: 1.6rem;
}

.btn-checkout .fa-angle-double-right {
    margin-left: 6px;
}

.text-danger {
    color: #D64444;
}


.lead {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.4;
}

.cart-actions {
    margin-bottom: 25px;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #4C5969;
    text-align: center;
    background-color: #FAFBFB;
    border: 1px solid #D7DDE4;
    border-radius: 0px;
}

.review-container {
    margin-left: 75px;
}

.page-header-title {
    font-weight: 400;
}