{% extends "base.jinja" %}

{% block title %}{% trans %}Reviews{% endtrans %}{% endblock %}

{% block main %}
    <h1>{% trans %}Reviews{% endtrans %}</h1>
    <ul>
        {% for review in object_list %}
            <li>
                <a href="{{ url ("review_detail",  pk=review.pk) }}">{{ review }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
