{% macro link_list(link_infos) %}
    <ul>
    {% for link_info in link_infos %}
        <li>
            <a href="{{ link_info.url }}">{{ link_info.text or link_info.url }}</a>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro cms_column() %}
    {{ link_list(xtheme.get_cms_footer_links()) }}
{% endmacro %}

{% macro html_column() %}
    {{ xtheme.get("footer_html")|default("", True)|safe }}
{% endmacro %}

{% macro links_column() %}
    {{ link_list(xtheme.get_footer_links()) }}
{% endmacro %}

<footer>
    <div class="divider line hidden-xs"></div>
    {% set col_order = xtheme.get("footer_column_order", "").split(",") %}
    {% set col_width = (12 / col_order|length)|int %}
    {% set col_macros = {"cms": cms_column, "html": html_column, "links": links_column} %}
    <div class="container">
        {% if col_order.length %}
        <hr>
        {% endif %}
        <div class="row">
            {% for col in col_order %}
                <div class="col-md-{{ col_width }}">
                    {% set col_macro = col_macros.get(col) %}
                    {% if col_macro %}{{ col_macro() }}{% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 hidden-xs">
                    <div class="widget">
                        <div class="corporate-widget">
                            <span class="footer-logo">One Beauty</span><!-- End .footer-logo -->
                            <p>We are a creative company, who works with passion and love. We provide the best services you need. We help you to get better...</p>

                        </div><!-- End corporate-widget -->
                    </div><!-- End .widget -->
                </div><!-- End .col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-4">
                    <div class="footer-link text-center">
                        <h5>{% trans %}Buying Guide{% endtrans %}</h5>
                        <ul>
                            <li><a href="">{% trans %}How to buy{% endtrans %}</a></li>
                            <li><a href="">{% trans %}General Info{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Payment{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Shipping{% endtrans %}</a></li>
                            <li><a href="">{% trans %}My Account{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div><!-- End .col-md-3 -->

                <div class="col-md-3 col-sm-6 col-xs-4">
                    <div class="footer-link text-center">
                        <h5>{% trans %}Policies{% endtrans %}</h5>
                        <ul>
                            <li><a href="">{% trans %}Privacy Policy{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Terms & Condition{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Return Policy{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div><!-- End .col-md-3 -->

                <div class="col-md-3 col-sm-6 col-xs-4">
                    <div class="footer-link text-center">
                        <h5>{% trans %}Company{% endtrans %}</h5>
                        <ul>
                            <li><a href="">{% trans %}About Us{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Office{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Store{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Contact Us{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div><!-- End .col-md-3 -->

            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #footer-inner -->
    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="copyright">Designed and Developed by Evo.  All rights reserved. &copy; <a href="http://www.byevo.com">www.byevo.com</a></p>
                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #footer-bottom -->
</footer>
